In [1]:
import pandas as pd

# Working with json

In [3]:
pd.read_json("train.json")

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

In [4]:
pd.read_json('https://api.exchangerate-api.com/v4/latest/INR')

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-03-28,1679961602,0.0446
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-03-28,1679961602,1.0500
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-03-28,1679961602,1.2900
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-03-28,1679961602,4.7200
ANG,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-03-28,1679961602,0.0217
...,...,...,...,...,...,...,...
XPF,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-03-28,1679961602,1.3500
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-03-28,1679961602,3.0400
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-03-28,1679961602,0.2230
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-03-28,1679961602,0.2580
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-03-28,1679961602,11.1300

# Working with SQL

In [5]:
!pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 11.9/11.9 MB 3.1 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp39-cp39-win_amd64.whl size=247958 sha256=6df8f2d212a38cd7e51c4a78bfbdc9e2f3420ee19e4a0ff837ccab08c6c218ba
  Stored in directory: c:\users\varva\appdata\local\pip\cache\wheels\7b\14\39\5aad423666e827dfe9a1fbcd111ac17171e7c9865d570780ce
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [6]:
import mysql.connector

In [7]:
conn = mysql.connector.connect(host='localhost',user='root',password='',database='world')

In [9]:
df=pd.read_sql_query("SELECT * FROM countrylanguage",conn)

C:\Users\varva\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [10]:
df

    CountryCode    Language IsOfficial  Percentage
0           ABW       Dutch          T         5.3
1           ABW     English          F         9.5
2           ABW  Papiamento          F        76.7
3           ABW     Spanish          F         7.4
4           AFG     Balochi          F         0.9
..          ...         ...        ...         ...
979         ZMB      Tongan          F        11.0
980         ZWE     English          T         2.2
981         ZWE     Ndebele          F        16.2
982         ZWE      Nyanja          F         2.2
983         ZWE       Shona          F        72.1

[984 rows x 4 columns]

In [13]:
df2=pd.read_sql_query("SELECT * FROM city WHERE CountryCode='ARG'",conn)

C:\Users\varva\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [14]:
df2

,ID,Name,CountryCode,District,Population
0,69,Buenos Aires,ARG,Distrito Federal,2982146
1,70,La Matanza,ARG,Buenos Aires,1266461
2,71,CÃ³rdoba,ARG,CÃ³rdoba,1157507
3,72,Rosario,ARG,Santa FÃ©,907718
4,73,Lomas de Zamora,ARG,Buenos Aires,622013
5,74,Quilmes,ARG,Buenos Aires,559249
6,75,Almirante Brown,ARG,Buenos Aires,538918
7,76,La Plata,ARG,Buenos Aires,521936
8,77,Mar del Plata,ARG,Buenos Aires,512880
9,78,San Miguel de TucumÃ¡n,ARG,TucumÃ¡n,470809
10,79,LanÃºs,ARG,Buenos Aires,469735
11,80,Merlo,ARG,Buenos Aires,463846
12,81,General San MartÃ­n,ARG,Buenos Aires,422542
13,82,Salta,ARG,Salta,367550
14,83,Moreno,ARG,Buenos Aires,356993
15,84,Santa FÃ©,ARG,Santa FÃ©,353063
16,85,Avellaneda,ARG,Buenos Aires,353046
17,86,Tres de Febrero,ARG,Buenos Aires,352311
18,87,MorÃ³n,ARG,Buenos Aires,349246
19,88,Florencio Varela,ARG,Buenos Aires,315432
20,89,San Isidro,ARG,Buenos Aires,306341
21,90,Tigre,ARG,Buenos Aires,296226
22,91,Malvinas Argentinas,ARG,Buenos Aires,290335
23,92,Vicente LÃ³pez,ARG,Buenos Aires,288341
24,93,Berazategui,ARG,Buenos Aires,276916
25,94,Corrientes,ARG,Corrientes,258103
26,95,San Miguel,ARG,Buenos Aires,248700
27,96,BahÃ­a Blanca,ARG,Buenos Aires,239810
28,97,Esteban EcheverrÃ­a,ARG,Buenos Aires,235760
29,98,Resistencia,ARG,Chaco,229212
30,99,JosÃ© C. Paz,ARG,Buenos Aires,221754
31,100,ParanÃ¡,ARG,Entre Rios,207041
32,101,Godoy Cruz,ARG,Mendoza,206998
33,102,Posadas,ARG,Misiones,201273
34,103,GuaymallÃ©n,ARG,Mendoza,200595
35,104,Santiago del Estero,ARG,Santiago del Estero,189947
36,105,San Salvador de Jujuy,ARG,Jujuy,178748
37,106,Hurlingham,ARG,Buenos Aires,170028
38,107,NeuquÃ©n,ARG,NeuquÃ©n,167296
39,108,ItuzaingÃ³,ARG,Buenos Aires,158197
40,109,San Fernando,ARG,Buenos Aires,153036
41,110,Formosa,ARG,Formosa,147636
42,111,Las Heras,ARG,Mendoza,145823
43,112,La Rioja,ARG,La Rioja,138117
44,113,San Fernando del Valle de Cata,ARG,Catamarca,134935
45,114,RÃ­o Cuarto,ARG,CÃ³rdoba,134355
46,115,Comodoro Rivadavia,ARG,Chubut,124104
47,116,Mendoza,ARG,Mendoza,123027
48,117,San NicolÃ¡s de los Arroyos,ARG,Buenos Aires,119302
49,118,San Juan,ARG,San Juan,119152
50,119,Escobar,ARG,Buenos Aires,116675
51,120,Concordia,ARG,Entre Rios,116485
52,121,Pilar,ARG,Buenos Aires,113428
53,122,San Luis,ARG,San Luis,110136
54,123,Ezeiza,ARG,Buenos Aires,99578
55,124,San Rafael,ARG,Mendoza,94651
56,125,Tandil,ARG,Buenos Aires,91101