In [6]:
import requests

url = "https://quotient.p.rapidapi.com/equity/intraday"

querystring = {"symbol":"AAPL","interval":"1","from":"2020-04-21 10:00","to":"2020-04-21 10:30","adjust":"false"}

headers = {
	"X-RapidAPI-Key": "a3ef69eb90mshf3856b7bb49b68ep1f4736jsn8cfe0d9ac45d",
	"X-RapidAPI-Host": "quotient.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)

# print(response.text)

In [15]:
df=pd.DataFrame(response.json()[0:20])
df

                   Date    Open    High     Low   Close  Volume
0   2020-04-21 10:29:00  270.45  270.82  270.31  270.66   75518
1   2020-04-21 10:28:00  270.44  270.64  270.20  270.40   90658
2   2020-04-21 10:27:00  270.69  270.90  270.39  270.44   67963
3   2020-04-21 10:26:00  271.04  271.04  270.54  270.69   66621
4   2020-04-21 10:25:00  271.07  271.13  270.80  271.06   79827
5   2020-04-21 10:24:00  270.55  271.14  270.47  271.07  120039
6   2020-04-21 10:23:00  270.61  270.61  270.17  270.53   96577
7   2020-04-21 10:22:00  270.75  270.77  270.31  270.60  137497
8   2020-04-21 10:21:00  270.90  271.00  270.60  270.75  128780
9   2020-04-21 10:20:00  270.84  271.04  270.65  270.95  149637
10  2020-04-21 10:19:00  271.52  271.55  270.83  270.84  138904
11  2020-04-21 10:18:00  271.44  271.85  271.39  271.56   91526
12  2020-04-21 10:17:00  271.70  271.77  271.36  271.43   75121
13  2020-04-21 10:16:00  272.06  272.06  271.56  271.68  164272
14  2020-04-21 10:15:00  272.30  272.44  272.06  272.07   77019
15  2020-04-21 10:14:00  272.40  272.48  272.11  272.31   71101
16  2020-04-21 10:13:00  272.43  272.68  272.29  272.41   69684
17  2020-04-21 10:12:00  272.29  272.48  272.26  272.45   62814
18  2020-04-21 10:11:00  272.63  272.63  272.24  272.28   62451
19  2020-04-21 10:10:00  272.37  272.84  272.36  272.62   62203

In [17]:
df.to_csv('Quotient_stock.csv')