In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("customer.csv")

In [5]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

### Taking only ordinal data columns 
### Ordinal data is a type of categorical data where the categories have a natural order or ranking. Examples of ordinal data include ratings such as 1-star, 2-star, 3-star, etc., education level such as elementary, high school, bachelor's, etc., or income level such as low, medium, and high.

In [6]:
df=df.iloc[:,2:]

In [11]:
df.sample(5)

     review education purchased
2      Good        PG        No
18     Good    School        No
22     Poor        PG       Yes
31     Poor    School       Yes
13  Average    School        No

In [15]:
# step 1 first split the data
from sklearn.model_selection import train_test_split

In [24]:
X_train,X_text,Y_train,Y_test = train_test_split(df.iloc[:,:2],df.iloc[:,-1:],test_size=0.3,random_state=7)
X_train.shape

(35, 2)

In [14]:
from sklearn.preprocessing import OrdinalEncoder

In [25]:
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [27]:
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [28]:
X_train=oe.transform(X_train)

In [59]:
data = pd.DataFrame(X_train,columns=['review','education'])

In [60]:
data.head()

   review  education
0     0.0        0.0
1     1.0        1.0
2     2.0        2.0
3     2.0        1.0
4     2.0        2.0

In [62]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

## Label encoding


## is a technique for encoding categorical variables as numerical values. In label encoding, each unique category in the variable is assigned a numerical value, such as 0, 1, 2, etc. This encoding assumes an inherent ordinal relationship between the categories, where a higher value indicates a higher rank or order.

In [65]:
from sklearn.preprocessing import LabelEncoder

In [66]:
le = LabelEncoder()

In [72]:
le.fit(Y_train)
le.fit(Y_test)

LabelEncoder()

In [69]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [74]:
y_train = le.transform(Y_train)
y_test = le.transform(Y_test)

In [75]:
y_train

array([1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1])

In [76]:
data2=pd.DataFrame(y_train,columns=['purchased'])

In [78]:
data2.head()

   purchased
0          1
1          1
2          1
3          1
4          0

In [79]:
df=pd.concat(['data,'data2'])

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid